html, body {
    background: rgba(0,0,0,0);
}


#time-container {
    -webkit-user-select: none;
    user-select: none;
    height: 100px;
    width: 400px;
    height:100%;
    width:100%;
    font-size:30px;
    color:white;
}
#time-container:hover {
    cursor: default;
}